In [1]:
#Q1- Write a code to create a string with your name and print it.
name = "Nimisha"
print(name)

Nimisha

In [2]:
#Q2- Write a code to find the length of the string "Hello World".
len("Hello World")

11

In [3]:
#Q3- Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
string[0:3]

'Pyt'

In [4]:
#Q4- Write a code to convert the string "hello" to uppercase.
a = "hello"
a.upper()

'HELLO'

In [5]:
#Q5- Write a code to replace the word "apple" with "orange" in the string "I like apple".
a = "I like apple"
a.replace("apple","orange")

'I like orange'

In [6]:
#Q6- Write a code to create a list with numbers 1 to 5 and print it.
lis = [1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

In [8]:
#Q7- Write a code to append the number 10 to the list [1, 2, 3, 4].
a = [1,2,3,4]
a.append(10)
a

[1, 2, 3, 4, 10]

In [9]:
#Q8- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
a = [1,2,3,4,5]
a.remove(3)
a

[1, 2, 4, 5]

In [10]:
#Q9- Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lis = ['a', 'b', 'c', 'd']
lis[2]

'c'

In [11]:
#Q10- Write a code to reverse the list [10, 20, 30, 40, 50].
a = [10,20,30,40,50]
a[::-1]

[50, 40, 30, 20, 10]

In [12]:
#Q11- Write a code to create a tuple with the elements 10, 20, 30 and print it.
a = (10,20,30)
print(a)

(10, 20, 30)

In [13]:
#Q12- Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
a = ('apple', 'banana', 'cherry')
a[0]

'apple'

In [14]:
#Q13- Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
a = (1, 2, 3, 2, 4, 2)
a.count(2)

3

In [15]:
#Q14- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
a = ('dog', 'cat', 'rabbit')
a.index("cat")

1

In [16]:
#Q15- Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
a = ('apple', 'orange', 'banana')
type(a)["banana"]

tuple['banana']

In [17]:
#Q16- Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
a = {1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [18]:
#Q17-  Write a code to add the element 6 to the set {1, 2, 3, 4}.
a = {1,2,3,4}
a.add(6)
a

{1, 2, 3, 4, 6}

In [19]:
#Q18- Write a code to create a tuple with the elements 10, 20, 30 and print it
a = (10,20,30)
print(a)

(10, 20, 30)

In [20]:
#Q19- Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
a = ('apple', 'banana', 'cherry')
a[0]

'apple'

In [21]:
#Q20- Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
a = (1, 2, 3, 2, 4, 2)
a.count(2)

3

In [22]:
#Q21- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a = ('dog', 'cat', 'rabbit')
a.index("cat")

1

In [23]:
#Q22- Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
a = ('apple', 'orange', 'banana')
type(a)["banana"]

tuple['banana']

In [24]:
#Q23- Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
a = {1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [25]:
#Q24- Write a code to add the element 6 to the set {1, 2, 3, 4}.
a = {1,2,3,4}
a.add(6)
a

{1, 2, 3, 4, 6}